a:hover{
    text-align: center;
    color: yellow;
}
a:visited{
    color: green;
}
body{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p:first-child{
    color: red;
   
}
p:nth-child(even){
    color: chocolate;
}

