body{
    background-color:rgb(212, 47, 74) ;
}
table{
    background-color: skyblue;
    border-collapse: collapse;
    height:50%;
    width:50%;
    
}
header{
    font-size: xx-large;
    text-align: center;
    margin: 30px;
}
th{
    background-color: beige;
    text-align:start;
}
tr:hover{
    background-color: white;
}