.hi{
    list-style-type: circle;
    font-size: larger;
    font-weight: bold;
}
#mu{
    font-size: xx-large;
    font-weight: bolder;

}
#th{
    font-size: x-large;
    font-weight: bolder;

}